<aside class="main" style="text-align: center;width: 100%;">
    <style>
        .responsive_footer_ad { width: 320px; height: 70px; }
        @media(min-width: 500px) { .responsive_footer_ad { width: 468px; height: 60px; } }
        @media(min-width: 800px) { .responsive_footer_ad { width: 786px; height: 90px; } }
        @media(min-width: 905px) { .responsive_footer_ad { width: 900px; height: 90px; } }
    </style>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- responsive_header_ad -->
    <ins class="adsbygoogle responsive_footer_ad"
         style="display:inline-block"
         data-ad-client="ca-pub-8185501660207063"
         data-ad-slot="3267357369"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</aside>