/**
 * Site Info
 */

.m-page-footer {
  @include flexbox;
  @include align-items(center);
  height: $footer-height;
  margin-top: -$footer-height;
  background-color: $main-color-3;
  p {
    color: $text-color-3;
  }
  a {
    @include link-text-colors ( $text-color-3, $main-color-1);
  }
  .follow-me {
    .round-button {
      box-shadow: $shadow-down;
    }
  }
  .site-info {
    text-align: center;
    font-size: $tiny-font-size;
    margin: 0 auto;
  }
  .name-box{
    margin-top: 0.35em;
    font-size: $h2-font-size;
    font-weight: 400;
    color: $text-color-d;
  }
  .name {
    display: inline-block;
  }
  .site-logo {
    display: inline-block;
    vertical-align: middle;
    width: $h3-font-size * 1.2;
    height: $h3-font-size * 1.2;
    &>svg {
      width: 100%;
      height: 100%;
    }
  }
}