/**
 * Site Info
 */

.m-page-footer {
  @include flexbox;
  @include align-items(center);
  height: map-get($layout, footer-height);
  margin-top: - map-get($layout, footer-height);
  background-color: $main-color-3;
  p {
    color: $text-color-3;
  }
  a {
    @include link-text-colors ( $text-color-3, $main-color-1, $main-color-1);
  }
  .site-info {
    text-align: center;
    font-size: map-get($base, font-size-tiny);
    margin: 0 auto;
  }
  .name-box{
    margin-top: 0.35em;
    font-size: map-get($base, font-size-h3);
    font-weight: map_get($base, font-weight-bold);
    color: $text-color-d;
  }
  .name {
    display: inline-block;
  }
  .site-logo {
    display: inline-block;
    vertical-align: middle;
    width: map-get($base, font-size-h3) * 1.08;
    height: map-get($base, font-size-h3) * 1.08;
    &>svg {
      width: 100%;
      height: 100%;
    }
  }
}