---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include ad.html -%}
    {%- include analytics.html -%}
    {%- include head.html -%}
    <meta name="naver-site-verification" content="b6616b6aa29cae3d827f6f0b3fb856d41a8b6ef7"/>
    <script>
      {%- include scripts/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    {%- include scripts/variables.html -%}
  </head>
  <body>
    <div class="root" data-is-touch="false">
      <div class="layout--home">
      </div>
      {{ content }}
    </div>
    <script>{%- include scripts/common.js -%}</script>
  </body>
</html>
