---
layout: blog-default
---
<div class="m-page">
  <article class="main">
    {%- include snippets/page-title.html -%}
    <h1>{{ __return }}</h1>
    <div class="m-article-content" itemprop="articleBody">{{ content }}</div>
    {%- if page.comment != false -%}
      <section>{%- include utils/comment-disqus.html -%}</section>
      <section>{%- include utils/comment-gitalk.html -%}</section>
    {%- endif -%}
  </article>
</div>
{%- if site.leancloud.app_id and site.leancloud.app_key and site.leancloud.app_class and site.isdebug == false -%}
<script src="https://cdn1.lncld.net/static/js/3.4.1/av-min.js"></script>
<script type="text/javascript">
    $(function() {
        AV.init({
            appId: '{{ site.leancloud.app_id }}',
            appKey: '{{ site.leancloud.app_key }}'
        });
        $(".visit").each(function() {
            var curId = this.id;
            var query = new AV.Query('{{ site.leancloud.app_class }}');
            query.equalTo('key', curId);
            query.first().then(function(result) {
                if (result) {
                    $('#' + curId).text(result.attributes.views);
                }
            }, function(error) {
                if (error) {
                    throw error;
                }
            });
        });
    });
</script>
{%- endif -%}
